@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

body {
  background: rgb(156, 218, 231);
  padding: 0;
  margin: 0;
  font-family: arial;
  max-width: 100%;
  width: 100vw;
  scroll-behavior: smooth;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
  transform: translateX(-5px);
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: 400ms ease-in;
}

.fade-exit {
  opacity: 1;
  transform: translateX(-5px);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

/********************Navigation**************************/

.headerBox {
  width: 100%;
}

.headerUl {
  display: flex;
  list-style: none;
  font-size: 1.2em;
  text-decoration: none;
  margin-left: 3em;
}

.headerUl a {
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-right: 6em;
  color: black;
}

.arrows {
  position: absolute;
  right: 0;
  top: 0.8em;
}

@media only screen and (max-width: 1268px) {
  .arrows {
    position: absolute;
    right: 0;
    top: 4.3em;
  }
}

.menuIcon {
  position: fixed;
  cursor: pointer;
  z-index: 99999999999999;
  padding-left: 0.5em;
}

.xIcon {
  /* position: absolute; */
  cursor: pointer;
  z-index: 99999999999999;
  right: 0;
  top: 0;
  margin-left: -5em;
  padding-right: 2em;
}

/********************Character Page**************************/

.cardContainer {
  height: 25em;
  background-color: white;
  position: relative;
  max-width: 20em;
  min-width: 20em;
  border-radius: 5px;
  margin-left: 5em;
}
.charactersBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 9em;
}

.characterIcon {
  width: 100%;
  border-radius: 5px;
  z-index: 10;
  transition: 8000ms ease;
}

.topBox {
  min-height: 100px;
  overflow: auto;
  background-color: white;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.199);
  width: 115%;
  position: absolute;
  left: -8%;
  top: 70%;
  border-radius: 4px;
  z-index: 2;
}

.infoContainer {
  display: block;
  text-align: center;
}

.name {
  display: block;
  text-align: center;
  font-family: "Poppins";
  font-size: 1.5em;
  font-weight: bold;
}

.location {
  height: 15px;
  padding-right: 5px;
}

.locationText {
  padding-top: 2em;
  text-transform: uppercase;
  font-size: 0.7em;
  font-family: "Poppins";
  color: rgb(61, 61, 61);
}

.statusBox {
  padding-top: 2em;
  text-transform: uppercase;
  font-size: 0.7em;
  font-family: "Poppins";
  color: grey;
}

.expandArrowBox {
  cursor: pointer;
}

.downArrow {
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.525, 0.66, 0.495, 1.4);
}

.downArrowContainer {
  cursor: pointer;
  position: relative;
  margin-left: 18em;
  z-index: 999999999999999999999999;
  display: inline-block;
}

.rotate {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.show {
  max-height: 250px;
  overflow: hidden;
}

.hide {
  max-height: 0;
  opacity: 0;
}

.extended {
  background-color: white;
  position: relative;
  border-radius: 4px;
  height: 250px;
  transition: 0.5s cubic-bezier(0.525, 0.66, 0.495, 1.4);
  z-index: 2;
}

.extendedInfo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65%;
  z-index: 200;
}

.extendedInfoList {
  list-style: none;
  padding-top: 1em;
}

.extendedInfoList li {
  padding-top: 0.3em;
}

.typeBox {
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0.5em;
  font-size: 0.85em;
  color: black;
}
.active {
  background: white;
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.199);
}

.heart {
  cursor: pointer;
}

/********************Planets Page**************************/

.planetsBox,
.episodesBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10em;
}
.planetContainer h4 {
  font-family: "Poppins";
  font-weight: lighter;
  font-size: 1.5em;
  text-align: center;
}

.planetContainer span {
  line-height: 2em;
  font-family: "Poppins";
  font-weight: lighter;
  color: rgba(22, 22, 22, 0.774);
}

.planetDivider {
  margin-top: -1em;
  margin-bottom: 1em;
  width: 10em;
  background-color: black;
}

.planetContainer div {
  padding-left: 3em;
}

.planetIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.planetContainer,
.episodeContainer {
  height: 18em;
  background-color: white;
  position: relative;
  max-width: 20em;
  min-width: 20em;
  border-radius: 5px;
  margin-left: 5em;
  margin-bottom: 5em;
  position: relative;
}

/********************Episode Page**************************/

.episodeContainer:hover {
  box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.199);
  transition: 0.3s ease;
}
.episodeContainer:hover .episodeNumber {
  color: black;
}

.episodeNumber {
  position: absolute;
  font-family: "Abril Fatface", cursive;
  font-size: 5em;
  left: -0.5em;
  color: #00000091;
}

.episodeInfo {
  padding-top: 3em;
  margin-left: 3em;
  padding-left: 1em;
}

.episodeName {
  font-size: 2em;
  font-family: "Poppins";
}

.airedSeason {
  position: absolute;
  bottom: 10px;
}

/********************Search Page**************************/

.searchbar {
  outline: none;
  border: none;
  height: 30px;
  width: 300px;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.877);
  color: white;
  padding-left: 0.2em;
  border-radius: 5px;
  box-shadow: 2px 5px 20px rgba(#777777, 0.5);
  position: fixed;
  left: 35em;
  top: 0.5em;
  padding: 0.3em;
}

::placeholder {
  font-size: 0.7em;
  text-align: center;
  color: rgba(255, 255, 255, 0.39);
}

/********************React Transition Group**************************/

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: 800ms ease;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-edit-active {
  opacity: 0;
  transition: opacity 3000ms ease;
}

.fade-exit-done {
  opacity: 0;
}

/********************Spinner**************************/

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.spinner {
  position: absolute;
  top: 40%;
  left: 40%;
}

/********************Media Queries**************************/

@media only screen and (max-width: 768px) {
  /****Navigation*****/
  .headerBox {
    height: 16em;
    z-index: 33;
    width: 50%;
    height: 30em;
  }
  .headerUl {
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 45%;
    -webkit-align-items: center;
    align-items: center;
    padding: 2em;
    padding-top: 2.8em;
    background: #ffffffed;
    box-shadow: 1px 2px 17px #0000008c;
    margin: 0;
    border-radius: 10px;
    z-index: 99999999999999999;
    margin-left: -10px;
    transform: translateX(-100%);
  }

  .headerUl li {
    padding-bottom: 3em;
  }
  .headerUl a {
    margin: 0;
  }

  .xIcon {
    position: absolute;
    cursor: pointer;
    z-index: 99999999999999;
    right: -4em;
    top: 0;
  }
  .menuIcon {
    position: absolute;
  }

  .open {
    transform: translateX(0%);
    transition: 0.4s cubic-bezier(0.17, 0.67, 0.54, 1.13);
  }
  .closed {
    transform: translateX(-100%);
    transition: 0.4s cubic-bezier(0.17, 0.67, 0.54, 1.13);
  }

  /******Character Page******/
  .charactersBox {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
  }

  .cardContainer {
    margin-left: 0;
    margin-bottom: 5em;
  }

  /******Planets Page******/
  .planetContainer {
    margin-left: 1em;
  }

  /******Episodes Page******/
  .episodeContainer {
    margin-left: 2.2em;
  }
  /******Search Page******/

  .searchbar {
    width: 80%;
    padding-left: 0.2em;
    border-radius: 5px;
    box-shadow: 2px 5px 20px rgba(#777777, 0.5);
    position: absolute;
    left: 2em;
    top: 0.5em;
    padding: 0.3em;
    z-index: 9999999999999999999999;
  }
  /******Bottom Arrows******/

  .arrows {
    position: initial;
    bottom: 0;
  }
}
